{{ define "main" }}
<div class="row">
    {{ range .Site.Sections }}
    {{ if .Title }}
    <div class="col">
        <header class="page-title">
            <h1><a href="{{ .Permalink }}">{{ .Title | singularize }}</a></h1>
        </header>
        {{ range .Pages }}
        <ul>
            <li>
                <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
            </li>
        </ul>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
</div>

<hr />

<div class="row">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    <div class="col">
        <h1><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname | humanize }}</a></h1>
        <ul>
            {{ range $key, $value := $taxonomy }}
            <li>
                <h5><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}">{{ $key }} ({{ len $value }})</a></h5>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>

{{ end }}
