{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "main" }}
<div class="row">
    <div class="col">

        <h1 class="title">{{ .Title }}</h1>

        <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms }}
            <li>
                    <a class="text-reset nav-link" href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">{{ $key | humanize }}
                        ({{ len $value }})</a>
            </li>
            {{ end }}
        </ul>

        {{ partial "pagination.html" . }}
    </div>
</div>
{{ end }}
