<div class="text-center">
    <h1 class="display-3">
        <strong>
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </strong>
    </h1>
</div>
<div class="row">
    <div class="col">
        <ul class="nav justify-content-center">
            {{ range .Site.Params.menu }}
            <li class="nav-item">
                <strong>
                    <h4>
                        {{ if .url }}
                        <a class="nav-link" href="{{ .Site.BaseURL }}/{{ .url | urlize }}">{{ .title | humanize }}</a>
                        {{ else }}
                        <a class="nav-link" href="{{ .Site.BaseURL }}/{{ .title | urlize }}">{{ .title | humanize }}</a>
                        {{ end }}
                    </h4>
                </strong>
            </li>
            {{ end }}
        </ul>
        <hr />
    </div>
</div>
