<div class="text-center">
    <h1 class="display-3">
        <strong>
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </strong>
    </h1>
</div>
<div class="row">
    <div class="col">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <strong>
                    <h4>
                        <a class="nav-link" href="{{ .Site.BaseURL }}">Posts</a>
                    </h4>
                </strong>
            </li>
            <li class="nav-item">
                <strong>
                    <h4>
                        <a class="nav-link" href="{{ .Site.BaseURL }}/map">Recipe Index</a>
                    </h4>
                </strong>
            </li>
            <li class="nav-item">
                <strong>
                    <h4>
                        <a class="nav-link" href="{{ .Site.BaseURL }}/tags">Tags</a>
                    </h4>
                </strong>
            </li>
        </ul>
        <hr />
    </div>
</div>
