html, body {
    /* background-color: #F5F1EE; */

    color: #333333;
}

.nav-link {
    color: #333333 !important;
}

.nav-link:hover {
    color: #555555 !important;
}

@media (min-width: 768px) { 
   .single {
       width: 75%;
   } 
}

a {
    color: #DD5555;
}

a:hover {
    color: #FF5555;
    text-decoration: none;
}

.logo {
    color: #333333;
    font-weight: bold;
}

hr {
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #333333;
}

.image {
    width: 100%;
}

article {
    padding-top: 30px;
}

ul { 
    padding-left: 0;
}

li {
    list-style-type: none;
}

.padding {
    padding-bottom: 30px;
    padding-top: 30px;
}
